{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
<div class="col-md-12 jumbotron">
  <p><span class="paragraph">The beer distribution game</span> (also known as the beer game) is an experiential learning business simulation game created by a group of professors at MIT Sloan School of Management in early 1960s to demonstrate a number of key principles of supply chain management.</p>
  <p><span class="paragraph">The game</span> is played by teams of at least four players, often in heated competition, and takes at least one hour to complete. A debriefing session of roughly equivalent length typically follows to review the results of each team and discuss the lessons involved.

  The purpose of the game is to understand the distribution side dynamics of a multi-echelon supply chain used to distribute a single item, in this case, cases of beer.</p>
</div>