<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <p>Всемирно известная бизнес-игра</p>
      <h1>BEER GAME​</h1>
      <p>Игра, в которую играют закупщики и логисты</p>
    </div>
    <div class="col-md-6">
      {{#link-to 'rooms'}}
        <span class="play-btn">Начать играть</span>
      {{/link-to}}
    </div>
  </div>
</div>